extends layout

block javascripts

block content
  - let count = 0;
  - let total = 0;
  - const usdFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });
  .container
    .card.mt-4
      .card-header
        h2= address
      .card-body
        h4 Withdrawals
        table.table
          thead
            tr
              th Date
              th Slot
              th.d-none.d-lg-block.d-xl-block Address
              th ETH Amount
              th USD Value
          tbody
            each withdrawal in withdrawals
              - count ++
              - total += Number(withdrawal.usd_value)
              tr
                td
                  span(data-bs-toggle='tooltip', data-bs-placement='top', data-bs-title=datefns.formatISO9075(withdrawal.stamp))= datefns.formatDistance(withdrawal.stamp, new Date(), {addSuffix: true})
                td= withdrawal.slot_id
                td.d-none.d-lg-block.d-xl-block
                  a(href='/address/' + withdrawal.address)
                    code= withdrawal.address
                td= Number(withdrawal.amount)
                td(align='right')= usdFormatter.format(withdrawal.usd_value)
      .card-footer
        if count == 2500
          h4.text-end ... only showing fitst #{count} results
        else
          h4.text-end Total: #{usdFormatter.format(total)}

  script.
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
