extends layout

block javascripts

block content
  - let usd_total = 0; let eth_total = 0;
  - addresses = {}; slots = {};
  - for (let x=0; x<withdrawals.length; x++) { const withdrawal = withdrawals[x]; usd_total += Number(withdrawal.usd_amount); eth_total += Number(withdrawal.eth_amount); addresses[withdrawal.address] = 1; slots[withdrawal.slot_id] = 1 }
  - const usdFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });

  .container-fluid.px-md-4.px-lg-5
    .card.mt-4
      .card-header
        h2.h3.mb-3
          span.text-muted Epoch
          |
          span.epoch-number= Number(epoch_id).toLocaleString('en')

        // Summary metrics
        .row.g-3.mt-2
          .col-12.col-md-4
            .metric-label Unique Slots
            .metric-value.number= Object.keys(slots).length.toLocaleString('en')
          .col-12.col-md-4
            .metric-label Total Withdrawals
            .metric-value.number= withdrawals.length.toLocaleString('en')
          .col-12.col-md-4
            .metric-label Unique Addresses
            .metric-value.number= Object.keys(addresses).length.toLocaleString('en')

        .row.g-3.mt-2
          .col-12.col-md-6
            .metric-label ETH Total
            .metric-value.eth-amount= eth_total.toFixed(4)
          .col-12.col-md-6
            .metric-label USD Total
            .metric-value.usd-amount= usdFormatter.format(usd_total)

      .card-body
        h4.h5.mb-3 Withdrawals

        // Desktop Table
        table.table.table-hover.d-none.d-md-table
          thead
            tr
              th Slot
              th.d-none.d-xl-table-cell Address
              th Validator
              th.text-end ETH Amount
              th.text-end USD Value
          tbody
            each withdrawal in withdrawals
              tr
                td
                   a.slot-number(href='/slot/' + withdrawal.slot_id)= parseInt(withdrawal.slot_id).toLocaleString('en')
                td.d-none.d-xl-table-cell
                  if withdrawal.address
                    a(href='/address/' + withdrawal.address)
                      code.address-hash= withdrawal.address
                  else
                    span.text-muted No withdrawal
                td
                  if withdrawal.address
                    a.validator-id(href='/validator/' + withdrawal.validator_id)= parseInt(withdrawal.validator_id).toLocaleString('en')
                  else
                    span.text-muted N/A
                td.text-end
                  span.eth-amount= Number(withdrawal.eth_amount).toFixed(4)
                td.text-end
                  span.usd-amount= usdFormatter.format(withdrawal.usd_amount)

        // Mobile Cards
        .mobile-card-list.d-md-none
          each withdrawal in withdrawals
            .mobile-data-card
              .card-row
                .label Slot
                .value
                  a.slot-number(href='/slot/' + withdrawal.slot_id)= parseInt(withdrawal.slot_id).toLocaleString('en')
              if withdrawal.address
                .card-row
                  .label Validator
                  .value
                    a.validator-id(href='/validator/' + withdrawal.validator_id)= parseInt(withdrawal.validator_id).toLocaleString('en')
                .card-row
                  .label Address
                  .value
                    a(href='/address/' + withdrawal.address)
                      code.address-hash.text-xs= withdrawal.address.slice(0, 10) + '...' + withdrawal.address.slice(-8)
                .card-row
                  .label ETH Amount
                  .value.eth-amount= Number(withdrawal.eth_amount).toFixed(4)
                .card-row.highlight
                  .label USD Value
                  .value.usd-amount= usdFormatter.format(withdrawal.usd_amount)
                .card-actions
                  a.btn.btn-sm.btn-outline-primary(href='/validator/' + withdrawal.validator_id) View Validator
                  a.btn.btn-sm.btn-outline-primary(href='/address/' + withdrawal.address) View Address
              else
                .card-row
                  .label Status
                  .value.text-muted No withdrawal this slot

      .card-footer
        h4.text-end
          span.text-muted Total:
          |
          span.usd-amount.number-xl= usdFormatter.format(usd_total)
