extends layout

block javascripts
  script(src='/js/index.js')

block content
  - let total = 0;
  - const usdFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });
  .container
    .card.mt-4
      .card-header
        h2 ETH Staking Statistics
      .card-body
        table.table.table-hover
          thead
            tr
              th #
              th Validator
              th.d-none.d-md-block.d-lg-block.d-xl-none Pub Key
              th.d-none.d-xl-block Pub Key
              th Payouts
          tbody
            each validator, index in validators
              - total += Number(validator.total)
              tr
                td= index + 1
                td
                  a(href='/validator/' + validator.id) #{validator.id}
                td.d-none.d-md-block.d-lg-block.d-xl-none
                  code= validator.pubkey.substr(0, 10) + '...' + validator.pubkey.substr(validator.pubkey.length - 10)
                td.d-none.d-xl-block
                  code= validator.pubkey.substr(0, 32) + '...' + validator.pubkey.substr(validator.pubkey.length -32)
                td(align='right')= usdFormatter.format(validator.total)
      .card-footer
        h4.text-end Total: #{usdFormatter.format(total)}
