extends layout

block javascripts
  script(src='/js/lib/chart.js')

block content
  - const usdFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });
  .container
    .row
      .col
        .card.mt-4
          .card-header
            h2 Latest Withdrawls
          .card-body
            table.table.table-hover
              thead
                tr
                  th Slot
                  th Epoch
                  th Date
                  th ETH Value
                  th USD Value
              tbody
                each withdrawal in latestWithdrawals
                  tr
                    td
                      a(href='/slot/' + withdrawal.slot_id)= parseInt(withdrawal.slot_id).toLocaleString('en')
                    td
                      a(href='/epoch/' + Math.floor(withdrawal.slot_id / 32))= Math.floor(withdrawal.slot_id / 32).toLocaleString('en')
                    td
                      span(data-bs-toggle='tooltip', data-bs-placement='top', data-bs-title=datefns.formatDistance(withdrawal.stamp, new Date(), {addSuffix: true}))= datefns.formatISO9075(withdrawal.stamp)
                    td= Number(withdrawal.eth_amount)
                    td= usdFormatter.format(withdrawal.usd_amount)
          .card-footer
            a.btn.btn-primary.float-end(href='/withdrawals') More Withdrawals &gt;&gt;
      .col
        .card.mt-4
          .card-header
            h2 Withdrawls per Epoch
          .card-body
            canvas#chart
            table.table.table-hover
              thead
                tr
                  th Epoch
                  th Withdrawals
                  th ETH Total
                  th USD Total
              tbody
                each withdrawal in withdrawalsPerEpoch
                  tr
                    td
                      a(href='/epoch/' + withdrawal.epoch)= parseInt(withdrawal.epoch).toLocaleString('en')
                    td= withdrawal.slots
                    td= Number(withdrawal.eth_amount)
                    td= usdFormatter.format(withdrawal.usd_amount)
          .card-footer
            a.btn.btn-primary.float-end(href='/epochs') More Epochs &gt;&gt;
    .row
      .col
        .card.mt-4
          .card-header
            h2 Largest Withdrawals
          .card-body
            table.table.table-hover
              thead
                tr
                  th Slot
                  th Epoch
                  th Date
                  th Validator
                  th ETH Value
                  th USD Value
              tbody
                each withdrawal in largestWithdrawals
                  tr
                    td
                      a(href='/slot/' + withdrawal.slot_id)= parseInt(withdrawal.slot_id).toLocaleString('en')
                    td
                      a(href='/epoch/' + Math.floor(withdrawal.slot_id / 32))= Math.floor(withdrawal.slot_id / 32).toLocaleString('en')
                    td
                      span(data-bs-toggle='tooltip', data-bs-placement='top', data-bs-title=datefns.formatDistance(withdrawal.stamp, new Date(), {addSuffix: true}))= datefns.formatISO9075(withdrawal.stamp)
                    td
                      a(href='/validator/' + withdrawal.validator_id)= parseInt(withdrawal.validator_id).toLocaleString('en')
                    td= Number(withdrawal.eth_amount)
                    td= usdFormatter.format(withdrawal.usd_amount)

  script.
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

    $.ajax({type: 'GET', url: '/api/epochs.json', dataType: 'json', success: (data) => {
        new Chart(document.getElementById('chart'), {
          type: 'line',
          data: {
            labels: data.map(row => Number(row.epoch).toLocaleString('en')),
            datasets: [{
              label: 'Withdrawals',
              data: data.map(row => row.usd_amount),
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            scales: {
              y: {
                type: 'logarithmic',
                ticks: {
                  callback: function(value, index, ticks) {
                    return '$' + Number(value).toLocaleString('en');
                  }
                }
              }
            },
            onClick(e) {
              const activePoints = this.getElementsAtEventForMode(e, 'nearest', {intersect: true}, false);
              const [{index}] = activePoints;
              window.location = '/epoch/' + data[index].epoch;
            },
            plugins: {
              legend: {
                display: false
              },
              title: {
                display: true,
                text: 'Withdrawals by Epoch'
              },
              tooltip: {
                callbacks: {
                  label: function(context) {
                    let label = context.dataset.label || '';

                    if (label) {
                        label += ': ';
                    }
                    if (context.parsed.y !== null) {
                        label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
                    }
                    return label;
                  }
                }
              }
            }
          }
        });
      }
    });
