extends layout

block javascripts

block content
  - let total = 0;
  - const usdFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });
  .container
    .card.mt-4
      .card-header
        h2 Slot #{parseInt(slot.id).toLocaleString('en')}
        h4 Epoch #{Math.floor(slot.id / 32).toLocaleString('en')}
        h6 #{datefns.formatISO9075(slot.stamp)} (#{datefns.formatDistance(slot.stamp, new Date(), {addSuffix: true})})
        p Price of ETH then was: #{usdFormatter.format(slot.price)}
      .card-body
        h4 Withdrawals
        table.table
          thead
            tr
              th.d-none.d-lg-block.d-xl-block Address
              th Validator
              th ETH Amount
              th USD Value
          tbody
            each withdrawal in withdrawals
              - total += Number(withdrawal.amount)
              tr
                td.d-none.d-lg-block.d-xl-block
                  a(href='/address/' + withdrawal.address)
                    code= withdrawal.address
                td
                  a(href='/validator/' + withdrawal.validator_id)= parseInt(withdrawal.validator_id).toLocaleString('en')
                td= Number(withdrawal.amount / 1000000000.0)
                td(align='right')= usdFormatter.format((withdrawal.amount / 1000000000.0) * slot.price)
      .card-footer
        h4.text-end Total: #{usdFormatter.format((total / 1000000000.0) * slot.price)}
