extends layout

block javascripts

block content
  - let total = 0;
  - const usdFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });
  .container
    .card.mt-4
      .card-header
        h2 Validator #{validator.id}
        p= validator.pubkey
      .card-body
        h4 Withdrawals
        table.table
          thead
            tr
              th Date
              th Epoch
              th.d-none.d-lg-block.d-xl-block Address
              th ETH Amount
              th USD Value
          tbody
            each withdrawal in withdrawals
              - total += Number(withdrawal.usd_value)
              tr
                td= withdrawal.stamp.toLocaleDateString('en-us', {year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'})
                td= withdrawal.epoch_id
                td.d-none.d-lg-block.d-xl-block= withdrawal.address
                td= Number(withdrawal.amount)
                td(align='right')= usdFormatter.format(withdrawal.usd_value)
      .card-footer
        h4.text-end Total: #{usdFormatter.format(total)}
