extends layout

block javascripts

block content
  .container
    .card.mt-4
      .card-header
        h2 Validator #{validator.id}
        p= validator.pubkey
      .card-body
        h4 Income
        table.table
          thead
            tr
              th Date
              th Epoch
              th Address
              th ETH Amount
              th USD Value
          tbody
            each withdrawal in withdrawals
              tr
                td= new Date(withdrawal.stamp).getTime()
                td= withdrawal.epoch_id
                td= withdrawal.address
                td= Number(withdrawal.amount)
                td $#{Number(withdrawal.usd_value).toFixed(2)}
      .card-footer
        a(href='/')
          button.btn.btn-lg.btn-primary.float-end Back
