extends layout

block javascripts

block content
  - let count = 0;
  - let total = 0;
  - const usdFormatter = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2, maximumFractionDigits: 2 });
  .container
    .card.mt-4
      .card-header
        h2 Withdrawals
        form.row.row-cols-lg-auto.g-3.align-items-center(method='post', action='/withdrawals')
          .col-12
            label.visually-hidden(for='inlineFormInputGroupStart') Start
            .input-group
              .input-group-text Start
              input#inlineFormInputGroupStart.form-control(type='date', name='start', value=start ? start : new Date().getFullYear() + '-01-01', min='2023-01-01')
          .col-12
            label.visually-hidden(for='inlineFormInputGroupEnd') End
            .input-group
              .input-group-text End
              input#inlineFormInputGroupEnd.form-control(type='date', name='end', value=end ? end : new Date().toISOString().slice(0, 10))
          .col-12
            button.btn.btn-primary(type='submit') &gt;&gt;
      .card-body
        table.table
          thead
            tr
              th Date
              th.d-none.d-md-block Slot
              th Validator
              th.d-none.d-lg-block Address
              th ETH Amount
              th USD Value
          tbody
            each withdrawal in withdrawals
              - count ++
              - total += Number(withdrawal.usd_value)
              tr
                td
                  span(data-bs-toggle='tooltip', data-bs-placement='top', data-bs-title=datefns.formatISO9075(withdrawal.stamp))= datefns.formatDistance(withdrawal.stamp, new Date(), {addSuffix: true})
                td.d-none.d-md-block
                  a(href='/slot/'+withdrawal.slot_id)= Number(withdrawal.slot_id).toLocaleString('en')
                td
                  a(href='/validator/'+withdrawal.validator_id)= Number(withdrawal.validator_id).toLocaleString('en')
                td.d-none.d-lg-block
                  code= withdrawal.address
                td= Number(withdrawal.amount)
                td $#{Number(withdrawal.usd_value).toFixed(2)}
      .card-footer
        if count == 2500
          h4.text-end ... More results (only showing first #{count})
        else
          h4.text-end Total: #{usdFormatter.format(total)}
  script.
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
