extends layout

block javascripts

block content
  .container
    .card.mt-4
      .card-header
        h2 Withdrawals
        p Date range picker should go here.
      .card-body
        table.table
          thead
            tr
              th Date
              th.d-none.d-md-block.d-lg-block.d-xl-block Epoch
              th Validator
              th.d-none.d-xl-block Address
              th ETH Amount
              th USD Value
          tbody
            each withdrawal in withdrawals
              tr
                td= withdrawal.stamp.toLocaleDateString('en-us', {year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'})
                td.d-none.d-md-block.d-lg-block.d-xl-block= withdrawal.epoch_id
                td
                  a(href='/validator/'+withdrawal.validator_id) #{withdrawal.validator_id}
                td.d-none.d-xl-block= withdrawal.address
                td= Number(withdrawal.amount)
                td $#{Number(withdrawal.usd_value).toFixed(2)}
      .card-footer
        a(href='/')
          button.btn.btn-lg.btn-primary.float-end Back
